@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */
html, body {
  margin: 0;
  padding: 0;
}

/* APPLE-STYLE TYPOGRAPHY */
body {
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
